BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
